<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Approval">

	<!-- 판매자가 거래 승인을 눌렀을 경우 -->
	<insert id="dealSuccess">
		insert into approval
		values(approval_seq.nextval,#{seller},#{buyer},#{approval},${parentseq},sysdate)
	</insert>

	<!-- 거래 승인된 애들 출력 -->
	<select id="dealSuccessSelect" resultType="int">
		select * from approval
		where seller=#{id} and buyer=#{booker} and parentseq=${parent}
	</select>
	
<!--구매자와 해당 게시글 승인여부  -->
<select id="isApproval" resultType="string">
 select approval from approval where buyer=#{id}and parentseq=#{parentseq}
</select>
</mapper>