<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Booking">

<resultMap type="HashMap" id="selltalent"> 
	<result column="title" property="title"/> 
	<result column="writer" property="writer"/> 
	<result column="price" property="price"/> 
	<result column="booker" property="booker"/> 
	<result column="parentseq" property="parentseq"/>
	<result column='approval' property='approval'/>
</resultMap>


<!-- 판매자에게 들어온 예약 요청 목록 출력 -->
<select id="requestRentalTalent" resultMap="selltalent" resultType="HashMap">
	select distinct selltalent.writer,booking.booker,selltalent.price,selltalent.title,booking.parentseq
	from selltalent join booking on (selltalent.seq = booking.parentseq) 
	where booking.bookable=#{y} and booking.seller=#{id} and booking.boardtype=#{able}
</select>

<!-- 판매자에게 들어온 예약 요청 취소 -->
<delete id="dealFail">
	delete from booking where seller=#{sessionID} and parentseq=${parent}
</delete>


<!-- 구매자가 재능 예약 내역 출력 -->
<select id="buyRequestTalent" resultMap="selltalent" resultType="HashMap">
select distinct selltalent.writer,booking.booker,selltalent.price,selltalent.title,booking.parentseq,approval.approval
	from selltalent join booking on (selltalent.seq = booking.parentseq) join approval on (approval.buyer =booking.booker)
	where booking.bookable=#{y} and booking.booker=#{id} and booking.boardtype=#{talent}
</select>

<!-- 구매자가 예약내역 취소 -->
<delete id="bookingFail">
	delete from booking where booker=#{sessionID} and parentseq=${parent}
</delete>

<!-- 예약하기 -->
<insert id="booking">
insert into booking values(booking_seq.nextval,#{seller},#{booker},#{bookable},#{parentseq},sysdate,#{boardtype})
</insert>
<!--해당 게시글과 예약자가 한 예약 체크 -->
<select id="checkBooking" resultType="int">
select count(*) from booking where booker=#{booker}and parentseq=#{parentseq}
</select>

</mapper>