<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Booking">

<insert id="booking">
insert into booking values(booking_seq.nextval,#{seller},#{booker},#{bookable},#{parentseq},sysdate)

</insert>

<resultMap type="HashMap" id="TalentBoard"> 
	<result column="title" property="title"/> 
	<result column="writer" property="writer"/> 
	<result column="price" property="price"/> 
	<result column="booker" property="booker"/> 
	<result column="parentseq" property="parentseq"/>
</resultMap>

<!-- 판매자에게 들어온 예약 요청 목록 출력 -->
<select id="requestRentalTalent" resultMap="TalentBoard" resultType="HashMap">
	select talentboard.writer,booking.booker,talentboard.price,talentboard.title,booking.parentseq
	from talentboard join booking on (talentboard.seq = booking.parentseq) 
	where booking.bookable=#{y} and booking.seller=#{id}
</select>

<!-- 판매자에게 들어온 예약 요청 취소 -->
<delete id="dealFail">
	delete from booking where seller=#{sessionID} and parentseq=${parent}
</delete>


<!-- 구매자에게 들어온 예약 내역 출력 -->
<select id="buyRequestTalent" resultMap="TalentBoard" resultType="HashMap">
	select talentboard.writer,booking.booker,talentboard.price,talentboard.title,booking.parentseq
	from talentboard join booking on (talentboard.seq = booking.parentseq) 
	where booking.bookable=#{y} and booking.booker=#{id}
</select>

<!-- 구매자가 예약내역 취소 -->
<delete id="bookingFail">
	delete from booking where booker=#{sessionID} and parentseq=${parent}
</delete>

</mapper>