<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Chat">
	<insert id="insert">
		insert into ChatRoom values(CHATROOM_SEQ.nextval,#{roomid},#{title},#{sessions},sysdate)
	</insert>
	
	<select id="allList" resultType="kh.spring.dto.ChatRoomDto">
		<!--select row_number() over(order by roomid) rnum, roomid, title, count(sessions) as "${value}" from ChatRoom GROUP BY roomid,title-->
		select * from ChatRoom
	</select>
	
	<select id="getList" resultType="kh.spring.dto.ChatRoomDto">
		select * from ChatRoom where sessions = #{value}
	</select>
	
	<select id="FindById" resultType="kh.spring.dto.ChatRoomDto">
		select * from ChatRoom where roomid = #{roomid}
	</select>
	
	<select id="FindByFriendId" resultType="String">
		select sessions from ChatRoom where roomid = #{roomid} and not sessions = #{id}
	</select>

</mapper>