<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Chat">
	<insert id="insert">
		insert into ChatRoom values(CHATROOM_SEQ.nextval,#{roomid},#{title},#{sessions},sysdate,#{board_seq},#{board_category})
	</insert>
	
	<select id="allList" resultType="kh.spring.dto.ChatRoomDto">
		<!--select row_number() over(order by roomid) rnum, roomid, title, count(sessions) as "${value}" from ChatRoom GROUP BY roomid,title-->
		select * from ChatRoom
	</select>
	
	<select id="getList" resultType="kh.spring.dto.ChatRoomDto">
		select * from ChatRoom where sessions = #{value}
	</select>
	
	<select id="FindById" resultType="kh.spring.dto.ChatRoomDto">
		select * from ChatRoom where roomid = #{roomid}
	</select>

	<select id="FindByRoominfo" resultType="kh.spring.dto.ChatRoomDto">
		select * from ChatRoom where roomid = #{roomid} and sessions = #{id}
	</select>
	
	<select id="FindByFreindRoominfo" resultType="kh.spring.dto.ChatRoomDto">
		select * from ChatRoom where roomid = #{roomid} and not sessions = #{id}
	</select>
	
	<select id="FindByFriendId" resultType="String">
		select sessions from ChatRoom where roomid = #{roomid} and not sessions = #{id}
	</select>
	
	<select id="FriendList" resultType="kh.spring.dto.ChatRoomDto">
		select * from chatroom where roomid in (select roomid from chatroom where sessions =#{value}) and not sessions = #{value}
	</select>
	
	<select id="dupleCheckRoom" resultType="Integer">
		select count(*) from chatroom where sessions= #{id} and board_seq =#{board_seq} and board_category =#{category}
	</select>

</mapper>