<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MyPage">

	<!-- 마이페이지 출력 -->
	<select id="mypageList" resultType="kh.spring.dto.PersonDTO">
		select * from person where
		id=#{sessionID}
	</select>

	<!-- 마이페이지 정보불러옴 -->
	<select id="modify" resultType="kh.spring.dto.PersonDTO">
		select * from person where
		id=#{id}
	</select>

	<!-- <select id="reviewContents" resultType="kh.spring.dto.ReviewDTO">
		select * from review where reviewer=#{id} and boardtype=#{talent}
	</select> -->

	<!-- 마이페이지 정보수정 -->
	<update id="modifyProc">
		update person set
		pw=#{pw},phone=#{phone},email=#{email},birth=#{birth},postcode=#{postcode},address1=#{address1},address2=#{address2}
		where id=#{id}
	</update>
	
	<!-- 결제 y인 건수 -->
	<select id="paymentCount" resultType="int">
	select count(*) from payment where buyer=#{id}and parentseq=(select parentseq from payment where buyer=#{id}and paymentable=#{y})
	</select>
	
	
	<!-- 	select count(*) from payment where parenseq=#{seq} and boardtype="#{talent}"
 -->	
	
	<!-- <select id="checkpayable">
	    select paymentable from payment where buyer =#{id} and paymentable=#{y}and boardtype=#{talent};
	
	</select> -->

	<resultMap type="HashMap" id="dealEndlist">
		<result column="name" property="name" />
		<result column="address1" property="address1" />
		<result column="buyer" property="buyer" />
		<result column="seller" property="seller" />
		<result column="price" property="price" />
		<result column="item" property="item" />
		<result column="boardtype" property="boardtype" />
		<result column="parentseq" property="parentseq" />
		<result column="reviewable" property="reviewable" />
		<result column="contents" property="contents" />
		<result column="paymentdate" property="paymentdate"
			jdbcType="VARCHAR" />
	</resultMap>

	<select id="dealEndProductSellList" resultMap="dealEndlist"
		resultType="HashMap">
		select distinct name,address1,payment.item,payment.buyer,payment.seller,payment.parentseq,price,to_char(payment.paymentdate,'yyyy-mm-dd hh24:mi')as paymentdate,payment.boardtype
		from payment join person on
		(person.id=payment.seller)where payment.buyer=#{id} and payment.boardtype=#{product} and payment.paymentable=#{y}
	</select>



	<!-- 물품 대여 완료 내역 출력 판매자(session)=> 구매자에게 -->
	<select id="reviewNow" resultMap="dealEndlist"
		resultType="HashMap">
		select distinct name,contents,payment.item,payment.buyer,payment.seller,payment.parentseq,price,to_char(payment.paymentdate,'yyyy-mm-dd hh24:mi')as paymentdate,payment.boardtype,review.reviewable
		from payment join person on
		(person.id=payment.buyer)join review on (review.reviewer =payment.seller and review.recipient = payment.buyer and review.parentseq = payment.parentseq
        )where
		payment.seller=#{id} and
		payment.boardtype=#{product}
	</select>

	
	<!-- 재능 거래 판매 완료 내역 출력 판매자(session)=> 구매자에게 -->
<!-- 	<select id="dealEndTalentSellList" resultMap="dealEndlist"
		resultType="HashMap">
		select distinct name,contents,payment.item,payment.buyer,payment.seller,payment.parentseq,price,to_char(payment.paymentdate,'yyyy-mm-dd hh24:mi')as paymentdate,payment.boardtype,review.reviewable
		from payment join person on
		(person.id=payment.buyer)join review on (review.reviewer =payment.seller and review.recipient = payment.buyer and review.parentseq = payment.parentseq
        )where
		payment.seller=#{id} and
		payment.boardtype=#{talent}
	</select> -->
	
	<!-- 물품 빌림 완료 내역 출력 구매자(session)=> 판매자에게 -->
	<select id="dealEndProductBuyList" resultMap="dealEndlist"
		resultType="HashMap">
		 select distinct name,payment.item,payment.buyer,payment.seller,payment.parentseq,price,to_char(payment.paymentdate,'yyyy-mm-dd hh24:mi')as paymentdate,payment.boardtype
		from payment join person on
		(person.id=payment.seller)where
		payment.buyer=#{id} and
		payment.boardtype=#{product}and payment.paymentable='y'
	</select>
	
	<select id="dealEndProductBuyList2" resultMap="dealEndlist"
		resultType="HashMap">
		 select distinct name,contents,payment.item,payment.buyer,payment.seller,payment.parentseq,price,to_char(payment.paymentdate,'yyyy-mm-dd hh24:mi')as paymentdate,payment.boardtype,review.reviewable
		from payment join person on
		(person.id=payment.seller)join review on (review.reviewer =payment.buyer and review.recipient = payment.seller and review.parentseq = payment.parentseq
        )where 
		payment.buyer=#{id} and
		payment.boardtype=#{product}and payment.paymentable='y'
	</select>
	

	<!-- 재능 거래 구매 완료 내역 출력 구매자(session)=> 판매자에게  -->
<!-- 	<select id="dealEndTalentBuyList" resultMap="dealEndlist"
		resultType="HashMap">
		 select distinct name,contents,payment.item,payment.buyer,payment.seller,payment.parentseq,price,to_char(payment.paymentdate,'yyyy-mm-dd hh24:mi')as paymentdate,payment.boardtype,review.reviewable
		from payment join person on
		(person.id=payment.seller)join review on (review.reviewer =payment.buyer and review.recipient = payment.seller and review.parentseq = payment.parentseq
        )where
		payment.buyer=#{id} and
		payment.boardtype=#{talent}
	</select> -->



</mapper>