<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Person">
	<insert id="insert">
		insert into person values(person_seq.nextval,#{id},#{pw},#{name},#{phone},#{email},#{birth},#{postcode},#{address1},#{address2},#{chargingMoney},sysdate)
	</insert>
	
	<select id="idDuplCheck" resultType="int">
		select count(*) from person where id=#{value}
	</select>
	
	<select id="login" resultType="int">
		select count(*) from person where id=#{id}and pw=#{pw}
	</select>
	
	<select id="findid" resultType="String">
		select id from person where phone=#{phone} and name=#{name}
	</select>
	
	<select id="checkInfo" resultType="String">
		select count(*) from person where id=#{id}and phone=#{phone}
	</select>
	
	<update id="pswd">
		update person set pw = #{pw} where id = #{id}
	</update>
	
	<update id="resetlogincount">
		update person set LOGINFAILCOUNT =0 where id=#{id}
	</update>
	
	<select id="checkid" resultType="int">
		select count(*) from person where id = #{id}
	</select>
	
	<update id= "failcount">
		update person set LOGINFAILCOUNT = LOGINFAILCOUNT+1 where id = #{id}
	</update>
	
	<select id="checkcount" resultType="int">
		select LOGINFAILCOUNT from person where id = #{id}
	</select>

</mapper>