<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Point">

<!--포인트 충전하기 -->
<insert id ="charge">
insert into charging values(charging_seq.nextval,#{id},#{amount},sysdate)
</insert>

<!--포인트 증가 -->
<insert id="add">
insert into pointaccount values(pointaccount_seq.nextval,#{id},#{pointamount},#{usepoint},#{earnpoint},#{reason},sysdate)
</insert>

<!-- 잔고 나의 포인트 액수  -->
<select id="checkAmount" resultType="int">
select nvl(sum(pointamount),0) from pointAccount where id=#{value}
</select>

<!-- 해당 게시글 결제여부 확인 -->
<select id="isPayment" resultType="int">
select nvl(count(*),0) from payment where parentseq=${value}
</select>

<!-- 구매자 상품 결제하기 -->
<insert id="payment">
insert into payment values(payment_seq.nextval,#{seller},#{buyer},#{item},#{parentseq},#{price},sysdate,#{boardtype},#{paymentable})
</insert>

<!--포인트 차감  -->
<insert id="minus">
insert into pointaccount values(pointaccount_seq.nextval,#{id},#{pointamount},#{usepoint},#{earnpoint},#{reason},sysdate)
</insert>

<!-- 금액 확인 -->
<select id="amount" resultType="int">
select nvl(sum(amount),0) from charing where id=#{value}
</select>


<!-- 포인트 충전 내역 출력 -->
<select id="pointChargeList" resultType="kh.spring.dto.PointAccountDTO" >
	select pointamount,dealdate,TO_CHAR(dealdate, 'HH:MI:SS') as date,reason from pointaccount where id=#{id} and reason in(#{charge},#{insert}) order by 1 desc
</select>

<!-- 포인트 사용 내역 출력 -->
<select id="pointUseList" resultType="kh.spring.dto.PointAccountDTO">
	select usepoint,dealdate,TO_CHAR(dealdate, 'HH:MI:SS')as date,reason from pointaccount where id=#{id} and reason=#{use} order by 1 desc
</select>

</mapper>
