<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Requesttalent">
	<resultMap type="HashMap" id="RequestDTO">
		<result column="seq" property="seq"/>
		<result column="writer" property="writer"/>
		<result column="title" property="title"/>
		<result column="category" property="category"/>
		<result column="contents" property="contents"/>
		<result column="price" property="price"/>
		<result column="address" property="address"/>
		<result column="regdate" property="regdate"/>
		<result column="sysName" property="sysName"/>
	</resultMap>
	
	<!-- 게시글 글쓰기 -->
	<insert id="write">
		insert into requesttalent values(#{seq},#{writer},#{title},#{category},#{contents},#{price},#{address},sysdate)
	</insert>
	
	<!-- 게시글 보기 -->
	<select id="detailView" resultType="kh.spring.dto.RequestTalentDTO">
		select * from requesttalent
		where seq =#{seq}
	</select>

	<select id="getAllList" resultType="kh.spring.dto.RequestTalentDTO">
		select * from requesttalent
	</select>
	
	<!-- 게시글 수정 --> 
	<update id="modify">
		update requesttalent set title=#{title}, category=#{category}, contents=#{contents}, price=#{price}, address=#{address} where seq=#{seq}
	</update>

	<select id="getId" resultType="String">
		select writer from requesttalent
	</select>
	
	<!-- 삭제 -->
	<delete id="delete">
		delete from requesttalent where seq=#{seq}
	</delete>
	
	<!-- 게시글 번호 -->
	<select id="getSeq" resultType="int">
		select requesttalent_seq.nextval
		from dual
	</select>
	
	<!-- 전체 검색 지역 & 타이틀 & 내용 -->
	<select id="toSearch" resultType="HashMap" resultMap="RequestDTO">
		<![CDATA[select * from (select rownum as rnum, A.* from (select lb.*, lf.SYSNAME from requesttalent lb left join (
				select SYSNAME, PARENTSEQ, REGDATE from (
				select ROW_NUMBER() over (PARTITION BY TALENTBOARDPICTUREFILES.PARENTSEQ order by TALENTBOARDPICTUREFILES.REGDATE asc ) AS RNUM, TALENTBOARDPICTUREFILES.* from TALENTBOARDPICTUREFILES) TB
				where RNUM=1 ) lf on lb.SEQ=lf.PARENTSEQ where address like '%'||#{search}||'%' or title like '%'||#{search}||'%' or contents like '%'||#{search}||'%' or category like '%'||#{search}||'%' order by SEQ desc)A where ROWNUM <= #{endNum}) where rnum >= #{startNum}]]>
	</select>
	
	<!-- 주소 검색 -->
	<select id="toAddress" resultType="HashMap" resultMap="RequestDTO">
		<![CDATA[select * from (select rownum as rnum, A.* from (select lb.*, lf.SYSNAME from requesttalent lb left join (
				select SYSNAME, PARENTSEQ, REGDATE from (
				select ROW_NUMBER() over (PARTITION BY TALENTBOARDPICTUREFILES.PARENTSEQ order by TALENTBOARDPICTUREFILES.REGDATE asc ) AS RNUM, TALENTBOARDPICTUREFILES.* from TALENTBOARDPICTUREFILES) TB
				where RNUM=1 ) lf on lb.SEQ=lf.PARENTSEQ where address like '%'||#{search}||'%' order by SEQ desc)A where ROWNUM <= #{endNum}) where rnum >= #{startNum}]]>
	</select>
	
	<!-- 타이틀 검색 -->
	<select id="toTitle" resultType="HashMap" resultMap="RequestDTO">
		<![CDATA[select * from (select rownum as rnum, A.* from (select lb.*, lf.SYSNAME from requesttalent lb left join (
				select SYSNAME, PARENTSEQ, REGDATE from (
				select ROW_NUMBER() over (PARTITION BY TALENTBOARDPICTUREFILES.PARENTSEQ order by TALENTBOARDPICTUREFILES.REGDATE asc ) AS RNUM, TALENTBOARDPICTUREFILES.* from TALENTBOARDPICTUREFILES) TB
				where RNUM=1 ) lf on lb.SEQ=lf.PARENTSEQ where title like '%'||#{search}||'%' order by SEQ desc)A where ROWNUM <= #{endNum}) where rnum >= #{startNum}]]>
	</select>
	
	<!-- 컨텐츠 검색 -->
	<select id="toContents" resultType="HashMap" resultMap="RequestDTO">
		<![CDATA[select * from (select rownum as rnum, A.* from (select lb.*, lf.SYSNAME from requesttalent lb left join (
				select SYSNAME, PARENTSEQ, REGDATE from (
				select ROW_NUMBER() over (PARTITION BY TALENTBOARDPICTUREFILES.PARENTSEQ order by TALENTBOARDPICTUREFILES.REGDATE asc ) AS RNUM, TALENTBOARDPICTUREFILES.* from TALENTBOARDPICTUREFILES) TB
				where RNUM=1 ) lf on lb.SEQ=lf.PARENTSEQ where contents like '%'||#{search}||'%' order by SEQ desc)A where ROWNUM <= #{endNum}) where rnum >= #{startNum}]]>
	</select>
	
	<!-- 카테고리 검색 -->
	<select id="toCategory" resultType="HashMap" resultMap="RequestDTO">
		<![CDATA[select * from (select rownum as rnum, A.* from (select lb.*, lf.SYSNAME from requesttalent lb left join (
				select SYSNAME, PARENTSEQ, REGDATE from (
				select ROW_NUMBER() over (PARTITION BY TALENTBOARDPICTUREFILES.PARENTSEQ order by TALENTBOARDPICTUREFILES.REGDATE asc ) AS RNUM, TALENTBOARDPICTUREFILES.* from TALENTBOARDPICTUREFILES) TB
				where RNUM=1 ) lf on lb.SEQ=lf.PARENTSEQ where category like '%'||#{search}||'%' order by SEQ desc)A where ROWNUM <= #{endNum}) where rnum >= #{startNum}]]>
	</select>
	
	<!-- 검색이 null일 경우 전체목록 나오게 -->
	<select id="toList" resultType="HashMap" resultMap="RequestDTO">
		<![CDATA[select * from (select rownum as rnum, A.* from (select lb.*, lf.SYSNAME from requesttalent lb left join (
				select SYSNAME, PARENTSEQ, REGDATE from (
				select ROW_NUMBER() over (PARTITION BY TALENTBOARDPICTUREFILES.PARENTSEQ order by TALENTBOARDPICTUREFILES.REGDATE asc ) AS RNUM, TALENTBOARDPICTUREFILES.* from TALENTBOARDPICTUREFILES) TB
				where RNUM=1 ) lf on lb.SEQ=lf.PARENTSEQ order by SEQ desc)A where ROWNUM <= #{endNum}) where rnum >= #{startNum}]]>
	</select>
		
	<!-- 검색 지역 & 타이틀 & 컨텐츠 카운트 -->
	<select id="allList" resultType="int">
		select count(*) from requesttalent
	</select>
	
	<!-- 검색 지역 & 타이틀 & 컨텐츠 카운트 -->
	<select id="numAllList" resultType="int">
		select count(*) from requesttalent where address like '%'||#{value}||'%' or title like '%'||#{value}||'%' or contents like '%'||#{value}||'%' or category like '%'||#{value}||'%'
	</select>
	
	<!-- 검색 지역 카운트 -->
	<select id="numAddress" resultType="int">
		select count(*) from requesttalent where address like '%'||#{value}||'%' 
	</select>
	
	<!-- 검색 타이틀 카운트 -->
	<select id="numTitle" resultType="int">
		select count(*) from requesttalent where title like '%'||#{value}||'%'
	</select>
	
	<!-- 검색 컨텐츠 카운트 -->
	<select id="numContents" resultType="int">
		select count(*) from requesttalent where contents like '%'||#{value}||'%'
	</select>
	
	<!-- 검색 컨텐츠 카운트 -->
	<select id="numCategory" resultType="int">
		select count(*) from requesttalent where category like '%'||#{value}||'%'
	</select>
	
	<!-- 내 게시물 출력 - 재능 대여 요청 -->
	<select id="myRequestBuyTalent" resultType="kh.spring.dto.RequestTalentDTO">
		select * from requesttalent where writer=#{value} order by 1 desc
	</select>
</mapper>

