<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Review">
<insert id="write">
insert into review values(review_seq.nextval,#{id},#{reviewID},#{parentseq},#{contents},#{reviewable},sysdate);
</insert>
<select id="getAllList" resultType="kh.spring.dto.ReviewDTO">
	select * from review where reviewID=#{value}
</select>

<select id="reviewCount" resultType="int">
select count(*) from review where reviewID=#{value}
</select>

</mapper>