<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Review">
<insert id="write">
insert into review values(review_seq.nextval,#{reviewer},#{recipient},#{parentseq},#{contents},#{reviewable},sysdate,#{boardtype})
</insert>
<select id="getAllList" resultType="kh.spring.dto.ReviewDTO">
select * from review where recipient=#{value}
</select>

<select id="reviewCount" resultType="int">
select count(*) from review where recipient=#{value}
</select>

<resultMap type="HashMap" id="reviewList">
    <result column="name" property="name"/>
        <result column="id" property="id"/>
     <result column="address1" property="address1"/>
	<result column="contents" property="contents"/>
	<result column="regdate" property="regdate"/>
	<result column="sysName" property="sysName"/>
	<result column="regdate" property="regdate" jdbcType="VARCHAR"/>
</resultMap>

<select id="reviewList" resultMap="reviewList" resultType="HashMap">
select 
    p.name,p.id,p.address1,rv.contents,to_char(rv.regdate,'yyyy-mm-dd hh24:mi')as regdate, pf.sysname 
from person p 
    left join review rv on rv.reviewer = p.id 
    left join PROFILEFILES pf on pf.parentseq = p.id
where rv.recipient =#{value}
</select>

<resultMap type="HashMap" id="sysName">
    <result column="sysName" property="sysName"/>
    </resultMap>

<select id="sysName" resultMap="sysName" resultType="HashMap">
select sysName from profilefiles join review on (review.reviewer = profilefiles.parentseq) where review.recipient=#{value}
</select>

<select id="reviewrInfo" resultType="kh.spring.dto.ReviewDTO">
select reviewer from review where recipient=#{value}
</select>

 <select id="reviewContents" resultType="kh.spring.dto.ReviewDTO">
		select * from review where reviewer=#{id} and boardtype=#{talent}
	</select> 


<select id="checkReview" resultType="int">
select count(*) from review where parentseq=#{value}
</select>



</mapper>