<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Review">
<insert id="write">
insert into review values(review_seq.nextval,#{reviewer},#{recipient},#{parentseq},#{contents},#{reviewable},sysdate,#{boardtype})
</insert>
<select id="getAllList" resultType="kh.spring.dto.ReviewDTO">
select * from review where recipient=#{value}
</select>

<select id="reviewCount" resultType="int">
select count(*) from review where recipient=#{value}
</select>

<resultMap type="HashMap" id="reviewList">
    <result column="name" property="name"/>
        <result column="id" property="id"/>
     <result column="address1" property="address1"/>
	<result column="contents" property="contents"/>
	<result column="regdate" property="regdate"/>
	<result column="sysName" property="sysName"/>
	<result column="regdate" property="regdate" jdbcType="VARCHAR"/>
</resultMap>

<select id="reviewList" resultMap="reviewList" resultType="HashMap">
select 
    p.name,p.id,p.address1,rv.contents,to_char(rv.regdate,'yyyy-mm-dd hh24:mi')as regdate, pf.sysname 
from person p 
    left join review rv on rv.reviewer = p.id 
    left join PROFILEFILES pf on pf.parentseq = p.id
where rv.recipient =#{value} order by regdate desc
</select>

<resultMap type="HashMap" id="sysName">
    <result column="sysName" property="sysName"/>
    </resultMap>

<select id="sysName" resultMap="sysName" resultType="HashMap">
select sysName from profilefiles join review on (review.reviewer = profilefiles.parentseq) where review.recipient=#{value}
</select>

<select id="reviewrInfo" resultType="kh.spring.dto.ReviewDTO">
select reviewer from review where recipient=#{value}
</select>

 <select id="reviewContents" resultType="kh.spring.dto.ReviewDTO">
		select * from review where reviewer=#{id} and boardtype=#{talent}
	</select> 


<select id="checkReview" resultType="int">
select count(*) from review where parentseq=#{seq}and reviewer=#{id}
</select>

<resultMap type="HashMap" id="reviewed">
    <result column="contents" property="contents"/>
    </resultMap>

<resultMap type="HashMap" id="review">
		
		<result column="name" property="name" />
		<result column="address1" property="address1" />
		<result column="buyer" property="buyer" />
		<result column="seller" property="seller" />
		<result column="price" property="price" />
		<result column="item" property="item" />
		<result column="boardtype" property="boardtype" />
		<result column="parentseq" property="parentseq" />
		<result column="reviewable" property="reviewable" />
		<result column="contents" property="contents" />
		<result column="paymentdate" property="paymentdate"
			jdbcType="VARCHAR" />
		<result column="sysname" property="sysName"/>
	</resultMap>


<select id="ReadReviewForSell" resultMap="review" resultType="HashMap">
 select distinct name,review.contents,payment.item,payment.buyer,payment.seller,payment.parentseq,price,to_char(payment.paymentdate,'yyyy-mm-dd hh24:mi')as paymentdate,payment.boardtype,review.reviewable
		from payment join person on
		(person.id=payment.buyer)join review on (review.reviewer =payment.seller and review.recipient = payment.buyer and review.parentseq = payment.parentseq
        )where payment.parentseq=#{parentseq}
</select>

<select id="ReadReviewForBuy" resultMap="review" resultType="HashMap">
 select distinct name,address1,review.contents,payment.item,payment.buyer,payment.seller,payment.parentseq,price,to_char(payment.paymentdate,'yyyy-mm-dd hh24:mi')as paymentdate,payment.boardtype,review.reviewable
		from payment join person on
		(person.id=payment.seller)join review on (review.reviewer =payment.buyer and review.recipient = payment.seller and review.parentseq = payment.parentseq
        )where payment.parentseq=#{parentseq}
</select>
<!-- 판매자에게 -->
<select id="writeReviewForBuy" resultMap="review" resultType="HashMap">
select distinct name,payment.item,payment.buyer,payment.seller,payment.parentseq,price,payment.boardtype
		from payment join person on
		(person.id=payment.seller)
        where payment.parentseq=#{parentseq}
</select>

<select id="writeReviewForSell" resultMap="review" resultType="HashMap">
select distinct name,payment.item,payment.buyer,payment.seller,payment.parentseq,price,payment.boardtype
		from payment join person on
		(person.id=payment.buyer)
       where payment.parentseq=#{parentseq}
</select>



<select id ="reviewedBySeller" resultType="kh.spring.dto.ReviewDTO" >
select * from payment join review on (payment.seller= review.reviewer and payment.buyer= review.recipient and payment.parentseq = review.parentseq) where reviewer=#{id}
</select>

<select id ="reviewedByBuyer"  resultType="kh.spring.dto.ReviewDTO" >
select * from payment join review on (payment.buyer= review.reviewer  and payment.seller= review.recipient and payment.parentseq = review.parentseq) where reviewer=#{id}

</select>


</mapper>