<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Selltalent">
	<insert id="write">
		insert into selltalent values(#{seq},#{writer},#{title},#{category},#{contents},#{price},#{address},sysdate)
	</insert>
	<select id="detailView" resultType="kh.spring.dto.SellTalentDTO">
		select * from selltalent
		where seq =#{seq}
	</select>
	
	<select id="getAllList" resultType="kh.spring.dto.SellTalentDTO">
		select * from selltalent
	</select>

	<select id="getId" resultType="String">
		select writer from selltalent
	</select>
	
	<select id="getWriter" resultType="String">
	   select writer from selltalent where seq=#{seq}
	</select>

	<delete id="delete">
		delete from selltalent where seq=#{seq}
	</delete>

	<select id="getSeq" resultType="int">
		select selltalent_seq.nextval from dual
	</select>
	
	<!-- 전체 검색 지역 & 타이틀 & 내용 -->
	<select id="toSearch" resultType="kh.spring.dto.SellTalentDTO">
		<![CDATA[select * from (select rownum as rnum, A.* from (select * from selltalent where address like '%'||#{search}||'%' or title like '%'||#{search}||'%' or contents like '%'||#{search}||'%' or category like '%'||#{search}||'%' order by seq desc) A where ROWNUM <= #{endNum}) where rnum >= #{startNum}]]>
	</select>
	
	<!-- 주소 검색 -->
	<select id="toAddress" resultType="kh.spring.dto.SellTalentDTO">
		<![CDATA[select * from (select rownum as rnum, A.* from (select * from selltalent where address like '%'||#{search}||'%' order by seq desc) A where ROWNUM <= #{endNum}) where rnum >= #{startNum}]]>
	</select>
	
	<!-- 타이틀 검색 -->
	<select id="toTitle" resultType="kh.spring.dto.SellTalentDTO">
		<![CDATA[select * from (select rownum as rnum, A.* from (select * from selltalent where title like '%'||#{search}||'%' order by seq desc) A where ROWNUM <= #{endNum}) where rnum >= #{startNum}]]>
	</select>
	
	<!-- 컨텐츠 검색 -->
	<select id="toContents" resultType="kh.spring.dto.SellTalentDTO">
		<![CDATA[select * from (select rownum as rnum, A.* from (select * from selltalent where contents like '%'||#{search}||'%' order by seq desc) A where ROWNUM <= #{endNum}) where rnum >= #{startNum}]]>
	</select>
	
	<!-- 카테고리 검색 -->
	<select id="toCategory" resultType="kh.spring.dto.SellTalentDTO">
		<![CDATA[select * from (select rownum as rnum, A.* from (select * from selltalent where category like '%'||#{search}||'%' order by seq desc) A where ROWNUM <= #{endNum}) where rnum >= #{startNum}]]>
	</select>
	
	<!-- 검색이 null일 경우 전체목록 나오게 -->
	<select id="toList" resultType="kh.spring.dto.SellTalentDTO">
		<![CDATA[select * from (select rownum as rnum, A.* from (select * from selltalent order by seq desc) A where ROWNUM <= #{endNum}) where rnum >= #{startNum}]]>
	</select>
		
	<!-- 검색 지역 & 타이틀 & 컨텐츠 카운트 -->
	<select id="allList" resultType="int">
		select count(*) from selltalent
	</select>
	
	<!-- 검색 지역 & 타이틀 & 컨텐츠 카운트 -->
	<select id="numAllList" resultType="int">
		select count(*) from selltalent where address like '%'||#{value}||'%' or title like '%'||#{value}||'%' or contents like '%'||#{value}||'%' or category like '%'||#{value}||'%'
	</select>
	
	<!-- 검색 지역 카운트 -->
	<select id="numAddress" resultType="int">
		select count(*) from selltalent where address like '%'||#{value}||'%' 
	</select>
	
	<!-- 검색 타이틀 카운트 -->
	<select id="numTitle" resultType="int">
		select count(*) from selltalent where title like '%'||#{value}||'%'
	</select>
	
	<!-- 검색 컨텐츠 카운트 -->
	<select id="numContents" resultType="int">
		select count(*) from selltalent where contents like '%'||#{value}||'%'
	</select>
	
	<!-- 검색 컨텐츠 카운트 -->
	<select id="numCategory" resultType="int">
		select count(*) from selltalent where category like '%'||#{value}||'%'
	</select>
</mapper>

