<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SnsFile">
	
	<insert id="insert">
		insert into snsfiles values(snsfiles_seq.nextval,#{oriName},#{sysName},#{parent},sysdate,#{id})
	</insert>
	
	<select id="fileList" resultType="kh.spring.dto.SnsFilesDTO">
		select * from snsfiles
	</select>
	
	<delete id="delete">
		delete from snsfiles where parent=#{value}
	</delete>
	
	<delete id="deleteFile">
		delete from snsfiles where seq = #{seq}
	</delete>
	
	<select id="modiFile" resultType="kh.spring.dto.SnsFilesDTO">
		select * from snsfiles where parent=#{value}
	</select>
	
	<select id="snsFile" resultType="kh.spring.dto.SnsFilesDTO">
		select * from snsfiles where parent between #{firstseq} and #{lastseq} order by parent desc
	</select>

</mapper>